apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-plain
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-plain
  template:
    metadata:
      labels:
        app: nginx-plain
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx-plain
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer

